<section class="site-section">
  <div class="container">
    <div class="d-flex align-items-center gap-3 mb-3">
      <img src="/assets/iiif_logo.png" alt="Logo IIIF" width="72" height="72" loading="lazy">
      <div>
        <h1 class="section-title mb-1">Qu’est-ce que IIIF?</h1>
      </div>
    </div>

    <p class="fw-semibold">Veuillez noter que tous les liens dans cette page Web sont disponibles uniquement en anglais, sauf ceux marqués avec «&nbsp;(FR disponible)&nbsp;».</p>

    <p>L’<a href="https://iiif.io/" target="_blank" rel="noopener">International Image Interoperability Framework</a> (IIIF, à prononcer «&nbsp;trois-I-F&nbsp;») est une série de standards pour le libre partage d’images, de fichiers audiovisuels et d’autres types d’objets numériques en ligne. Des établissements tels les bibliothèques, les centres d’archives, les musées et les instituts scientifiques utilisent IIIF pour rendre accessible des collections numériques.</p>

    <p>IIIF a notamment le grand avantage d’être fondé sur un code source libre, ce qui signifie que divers outils et plateformes – comme le visualiseur Mirador qu’utilise Canadiana – peuvent être conçus pour se greffer à IIIF, puis être réutilisés et adaptés par d’autres établissements et développeurs. De plus, parce que les établissements ayant adopté IIIF emploient un standard collectif pour afficher les objets numériques, ces derniers peuvent facilement être partagés entre différentes plateformes, différentes collections et même différents établissements.</p>

    <p>IIIF est né d’une collaboration amorcée en 2011 entre la Bibliothèque nationale de France, les Bodleian Libraries, la British Library, la Cornell University, la Los Alamos National Laboratory Research Library, la Nasjonalbiblioteket (Bibliothèque nationale de Norvège) et la Stanford University. En 2015, le <a href="https://iiif.io/community/consortium/members/" target="_blank" rel="noopener">Consortium IIIF</a> a été fondé. Il réunit aujourd’hui des membres des quatre coins du monde. Le Réseau canadien de documentation pour la recherche (RCDR) en est membre <a href="hhttps://www.crkn-rcdr.ca/fr/le-rcdr-devient-membre-associe-du-consortium-du-iiif" target="_blank" rel="noopener">associé</a> (FR disponible) depuis 2024.</p>

    <br/>

    <h2 class="h2 mb-3">Quels outils IIIF sont offerts dans Canadiana?</h2>
    <p>Si vous avez uniquement besoin de consulter le contenu de Canadiana, vous pouvez simplement effectuer une recherche ou naviguer dans la collection comme d’habitude. Cependant, Canadiana offre aussi plusieurs outils qui profitent de IIIF dans la section Boîte à outils sous l’afficheur d’images.</p>
    <ul>
      <li><strong>Copier le lien du manifeste :</strong> Si vous souhaitez utiliser le contenu de Canadiana dans d’autres applications branchées à IIIF, vous devrez récupérer le manifeste de l’objet numérique. Un manifeste est un extrait de code JSON contenant toutes les informations du l’objet, y compris son contenu et la façon dont il est structuré (p. ex. un livre de 125 pages) ainsi que les métadonnées associées (créateur, date, langue, etc.).
      <br/>
      <br/>
      Dans Canadiana, le lien vers le manifeste IIIF de tout objet se trouve dans la section des outils. Cliquez sur «&nbsp;Copier le lien du manifeste&nbsp;» et collez ce lien dans le champ approprié de n’importe quelle application branchée à IIIF. L’application pourra alors lire le manifeste et afficher l’objet.
      <br/>
      <img src="/assets/iiif-copy-fr.png" alt="Le bouton « Copier le lien du manifeste » se trouve en bas de la page.">
      </li>
      <li><strong>Rogner l’image :</strong> Cet outil sert à recadrer une image d’un objet dans Canadiana et à la sauvegarder. Cliquez sur «&nbsp;Rogner l’image&nbsp;», puis utilisez l’icône de crayon pour dessiner un rectangle autour de la partie de l’image que vous souhaitez conserver. Lorsque vous relâcherez le bouton de la souris, une barre d’outils contenant l’image recadrée apparaîtra au bas de l’écran. Utilisez les fonctionnalités de la barre d’outils pour copier ou enregistrer l’image recadrée.</li>
      <li><strong>Générer un PDF :</strong> L’outil PDiiif sert à générer un fichier PDF sur mesure à partir d’un objet dans Canadiana. Cliquez sur «&nbsp;Générer un PDF&nbsp;», puis sur l’icône des réglages en vert pour définir la taille de l’image, les pages et l’optimisation. Cliquez ensuite sur le bouton rouge «&nbsp;Générer un PDF&nbsp;» pour télécharger le fichier PDF.</li>
      <li><strong>Modifier une copie du manifeste :</strong> Cet outil sert à modifier une copie du manifeste d’un objet. Utilisez les options pour annoter des images, réorganiser et supprimer des pages, ajouter des images d’autres ressources et plus encore. Vous pouvez ensuite afficher votre manifeste personnalisé dans des afficheurs IIIF ou copier-coller le lien du manifeste dans tout autre outil IIIF.</li>
    </ul>

    <br/>

    <h2 class="h2 mb-3">Quels autres outils IIIF sont offerts?</h2>
    <p>Il y a un vaste éventail d’applications IIIF externes qui permettent de visualiser et de comparer des images, de créer des expositions, d’annoter des documents et plus encore. Consultez le site Web de IIIF pour obtenir une liste des <a href="https://iiif.io/get-started/tools/" target="_blank" rel="noopener">outils les plus populaires</a>, notamment les visualiseurs d’image et de fichiers audiovisuels, les plateformes d’exposition numérique, les plateformes d’annotation et les éditeurs de manifestes, ainsi que les <a href="https://iiif.io/get-started/training/" target="_blank" rel="noopener">ressources de formation sur IIIF</a>.</p>

    <br/>

    <h2 class="h2 mb-3">Où puis-je trouver d’autres collections compatibles avec IIIF?</h2>
    <p>Des établissements partout dans le monde utilisent IIIF pour leurs collections numériques. IIIF tient à jour une <a href="https://iiif.io/guides/finding_resources/" target="_blank" rel="noopener">liste partielle de ces établissements</a>. Vous pouvez aussi rechercher le logo IIIF lorsque vous consultez des sites Web de collections numériques. De plus, l’extension <a href="https://seige.digital/en/detektiiif/" target="_blank" rel="noopener">detektIIIF</a> est un outil téléchargeable qui détecte automatiquement les ressources branchées à IIIF dans les sites Web.</p>
    <p>Le RCDR a commencé à dresser une liste dans GitHub, des <a href="https://github.com/crkn-rcdr/iiif-canada-directory?tab=readme-ov-file" target="_blank" rel="noopener">établissements canadiens qui utilisent IIIF</a>. Connaissez-vous un établissement ayant une collection, des services ou des outils branchés à IIIF qui ne figure pas sur cette liste? Contactez-nous en suivant les instructions fournies sur notre page GitHub ou écrivez-nous à l’adresse <a href="mailto:info@crkn.ca">info@crkn.ca</a> pour nous en faire part!</p>

    <br/>

    <h2 class="h2 mb-3">Où puis-je obtenir davantage d’informations?</h2>
    <p>Pour en savoir davantage sur IIIF, consultez les ressources ci-dessous.</p>
    <ul>
      <li><a href="https://iiif.io/get-started/" target="_blank" rel="noopener">Get Started — IIIF</a></li>
      <li><a href="https://gallerycollections.courtauld.ac.uk/iiif" target="_blank" rel="noopener">What is IIIF? — The Courtauld Gallery</a></li>
      <li><a href="https://doc.biblissima.fr/iiif/introduction-iiif/" target="_blank" rel="noopener">Introduction à IIIF — Tour d’horizon de Biblissima+</a> (FR disponible)</li>
      <li><a href="https://doc.biblissima.fr/formation-iiif/" target="_blank" rel="noopener">Module de formation à IIIF — Module de formation de Biblissima+</a> (FR disponible)</li>
      <li><a href="https://collections.library.utoronto.ca/explore/faq/getting_started" target="_blank" rel="noopener">Reusing Collections of U of T Items with IIIF</a> — University of Toronto</li>
      <li><a href="https://open.library.ubc.ca/docs#iiif-api" target="_blank" rel="noopener">The Open Collections IIIF API</a> — University of British Columbia</li>
    </ul>

    <p><strong>Vidéos :</strong></p>
    <ul>
      <li><a href="https://www.youtube.com/watch?v=AXkbQ8A3JC8" target="_blank" rel="noopener">IIIF literacy, from ABC to PhD</a></li>
      <li><a href="https://www.youtube.com/watch?v=2GbtdSAm8OY" target="_blank" rel="noopener">An Introduction to IIIF</a></li>
      <li><a href="https://www.youtube.com/watch?v=UlNZR6FCmaU" target="_blank" rel="noopener">Accessible Digitization with the Digirati Manifest Editor</a></li>
    </ul>

    <br/>

    <h2 class="h2 mb-3">Des questions?</h2>
    <p>Pour toute question sur la recherche dans Canadiana ou pour une assistance technique dans Canadiana, communiquez avec le RCDR à <a href="mailto:info@crkn.ca">info@crkn.ca</a>.</p>
    <p>Si vous avez des questions pour la communauté IIIF dans son ensemble, vous pouvez vous joindre à l’<a href="https://docs.google.com/forms/d/e/1FAIpQLSdGV9QSFo8i2z1R5iIMP7B2JVhS9akHqcykWF5_y4mtWqVrBA/viewform" target="_blank" rel="noopener">espace IIIF sur Slack</a>. Vous y trouverez divers canaux, y compris un canal pour débutants (<strong>#beginners</strong>) et un autre pour le <strong>#canada</strong>, et vous pourrez y poser des questions et échanger de l’information avec des collègues du Canada.</p>
  </div>
</section>
